<p id="notice"><%= notice %></p>

<h1>Listing Upcomings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Start</th>
      <th>End</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @upcomings.each do |upcoming| %>
      <tr>
        <td><%= upcoming.title %></td>
        <td><%= upcoming.description %></td>
        <td><%= upcoming.start %></td>
        <td><%= upcoming.end %></td>
        <td><%= link_to 'Show', upcoming %></td>
        <td><%= link_to 'Edit', edit_upcoming_path(upcoming) %></td>
        <td><%= link_to 'Destroy', upcoming, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Upcoming', new_upcoming_path %>
