<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @upcoming.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @upcoming.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @upcoming.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @upcoming.end %>
</p>

<%= link_to 'Edit', edit_upcoming_path(@upcoming) %> |
<%= link_to 'Back', upcomings_path %>
