
<div class="row">
      

        <p id="notice"><%= notice %></p>
    
        <%=image_tag @person.picture.url(:small) %>
        
        <div class="col-md-8">
          <p> 
            <strong>Name:</strong>
            <%= @person.name%>
          </p>
          
          <p>
            <strong>Title:</strong>
            <%= @person.title %>
          </p>
          
          <p>
            <strong>Description:</strong>
            <%= @person.description %>
          </p>
          
         
          <%= link_to 'Edit', edit_person_path(@person),class: ".btn btn-default" %> |
          <%= link_to 'Back', people_path,class: ".btn btn-default" %>
        
   
</div>