<div class= 'form-group'>
        <%= simple_form_for @sermon do |f| %>
        <%= f.input :title, class: 'form-control' %>
       
        <%= f.input :body, class: 'form-control' %>
        <%= f.select :status, status_options,class: 'form-control'  %>
        <%= f.input :media, class: 'form-control'  %>
        <%= f.submit %>
 
    <% end %>
</div>