<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">

  <!-- Blog Post Content Column -->
   <div class="col-lg-8">

<%= link_to 'New Sermon', new_sermon_path, class:'btn btn-default' %>
<h1>Listing Sermons</h1>

    <% @sermons.each do |sermon| %>
    <div class="span8">
      
    <div class="row">
      <div class="span8">
        <h4><%= sermon.title %></h4>
        <h3><%= sermon.scriptures %></h3
      </div>
    </div>
    
        <div class="span6"> 
          <p><%= sermon.body.truncate(120) %></p>
        </div>
    
        <%= link_to 'Edit', edit_sermon_path(sermon), class:'btn btn-default' %>
        <%= link_to 'Destroy', sermon, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default' %>
        </div>
     
      
    <% end %>
    
    
  <div class="row">
    
     <%= link_to 'Upcoming',upcomings_url, class:'btn btn-default' %>
 </div>