<nav class="navbar navbar-default">
 
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Church.com',static_pages_home_url, class:"navbar-brand"%></h3></li>
      
        <li><%= link_to 'Sermons',sermons_url, class:"navbar-brand"%></li>
        <li><%= link_to 'People',people_url, class:"navbar-brand"%></li>
        <li><%= link_to 'About',static_pages_about_url, class:"navbar-brand"%></li>
        <li><%= link_to 'contact',static_pages_contacts_url, class:"navbar-brand"%></li>
        <li></li>
      </ul>
      
  </div><!-- /.container-fluid -->
</nav>


        
 </div>
</div>