
<title><%= yield(:title) %> | Church.com</title>
<nav class="navbar navbar-default">

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  
    <%= link_to 'Church.com',home_path, class:"navbar-brand"%>
 
 
    <ul class="nav navbar-nav">
      <li>
      <%= link_to 'Sermmons', sermons_path%>
     
      <li>
       <li>
      <%= link_to 'Events', upcomings_path%>
     
      <li>

       
        <%= link_to 'About',about_url%>
      </li>

      <%= render 'layouts/admin_nav' %>

      <li>
        <% if @contact_detail.nil?%>
        <%= link_to 'Edit Contact', new_contact_url%> 
        
          <%else%>
         <%= link_to 'contact',  contact_url(@contact_detail)%>
         <%end%>
      </li>
      
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>

          <li> <%= link_to current_user.email, profile_path%>
          </li>
           
            <li>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }%>
            </li>
  
      <% else %>
          <li>
            <%= link_to "Log in", user_session_url  %>
          </li>
          <li>
            <%= link_to "Signup",  new_user_registration_url%>
          </li>

      <% end %>
    </ul>

  </div>
  <!-- /.collapse navbar-fluid -->
</nav>
</div>
</div>
<div class='container'>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>">
      <%= message %>
    </div>
    <% end %>

</div>




